<ul class="pagination">
    {% if pageData.page_has_previous > 0 %}
        <li><a href="?page=1">首页</a></li>
        <li><a href="?page={{ pageData.data_list.previous_page_number }}">&lt;</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:;">&lt;</a></li>
    {% endif %}
    {% if pageData.data_list %}
        {% for page in pageData.page_range %}
            {% ifequal page pageData.data_list.number %}
                <li class="active"><a href="javascript:;">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endifequal  %}
        {% endfor %}
    {% else %}
        <li class="active"><a href="javascript:;">1</a></li>
    {% endif %}
    {% if pageData.page_has_next > 0 %}
        <li><a href="?page={{ pageData.data_list.next_page_number }}">&gt;</a></li>
        <li><a href="?page={{ pageData.page_last }}">尾页</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:;">&gt;</a></li>
    {% endif %}
</ul>