<ul class="pagination" id="pagination">
    {% if pageData.page_previous_number > 0 %}
        <li><a href="{{ pageData.page_url }}page=1">首页</a></li>
        <li><a href="{{ pageData.page_url }}page={{ pageData.page_current|add:-1 }}">&lt;</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:;">&lt;</a></li>
    {% endif %}
    {% if data_list %}
        {% for page in pageData.page_range %}
            {% ifequal page pageData.page_current %}
                <li class="active"><a href="javascript:;">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ pageData.page_url }}page={{ page }}">{{ page }}</a></li>
            {% endifequal  %}
        {% endfor %}
    {% else %}
        <li class="active"><a href="javascript:;">1</a></li>
    {% endif %}
    {% if pageData.page_next_number > 0 %}
        <li><a href="{{ pageData.page_url }}page={{ pageData.page_current|add:1 }}">&gt;</a></li>
        <li><a href="{{ pageData.page_url }}page={{ pageData.page_last }}">尾页</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:;">&gt;</a></li>
    {% endif %}
</ul>