.panel-heading {
    font-weight: bold;
    font-size: 18px;
    height: 55px;
    select {
    	width: 90px;
    	display: inline;
    }
}

.right {
	float: right;
	margin-top: -8px;
	margin-right: -8px;
}